* {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.body {
    background: linear-gradient(to right, rgba(217,100,100,1) 20%, rgba(155,103,205,1) 100%);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    min-width: 500px;
    min-height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizz {
    background: #cce;
    padding: 30px;
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.quizz__question {
    margin: 0 0 20px 0;
    font-size: 2em;
    font-weight: 400;
}

.quizz__options {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 50px);
}

.quizz__controls {
    margin: 5px 0px;
}

.quizz__btn {
    background: #702f81;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
}

.quizz__btn-start {
    font-size: 2em;
    border: 4px solid #000;
    border-radius: 5px;
}

.quizz__btn-start:hover {
    background: #f00;
    color: #fbff24;
}

.quizz__option {
}

.quizz__option--correct {
    background: #4f8737;
}

.quizz__option--fail {
    background: #f00;
}

.hide {
    display: none;
}
